<script setup>
import Logo from '../../assets/images/logo.png'
import SelectLang from '../../components/ui/SelectLang.vue'
const data = [
  { name: 'Home', url: '/' },
  { name: 'Trip', url: '/' },
  { name: 'Service', url: '/' },
  { name: 'Gallery', url: '/' },
  { name: 'Blog', url: '/' }
]
</script>
<template>
  <div class="border">
    <div class="container mx-auto py-4 flex justify-between items-center">
      <router-link to="/">
        <img class="w-40 h-auto" :src="Logo" alt="" />
      </router-link>
      <div class="flex gap-12 items-center">
        <router-link
          v-for="item in data"
          :to="item.url"
          class="text-xl font-sans transition duration-300 ease-out text-[#4D4949] hover:text-red-500"
          >{{ item.name }}</router-link
        >
      </div>
      <SelectLang />
    </div>
  </div>
</template>
