<script setup>
import Bg from '@/assets/images/bg.png'
import SwiperCard from '../components/ui/SwiperCard.vue'
import GalleryList from '../components/ui/GalleryList.vue'
</script>
<template>
  <div class="bg-white py-4">
    <div class="container mx-auto relative">
      <img :src="Bg" alt="" />
      <div class="absolute w-1/2 h-full top-0 flex flex-col justify-center gap-16">
        <h3 class="text-6xl font-semibold mt-20">
          Our travel agents are <br />
          with the best <br />
          service we have.
        </h3>
        <p class="text-2xl text-[#4D4949] w-2/3">
          The best places in the budget. Premier Travel Going The Distance For You. The best
          vacation is the one you will never forget.
        </p>
        <div class="flex">
          <button class="py-1 px-6 rounded bg-[#FF4D64] text-white">Get Started</button>
          <button class="py-1 px-6 rounded text-black flex items-center gap-2">
            <svg
              width="45"
              height="44"
              viewBox="0 0 45 44"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                opacity="0.8"
                d="M44.5 21.8231C44.5 33.5853 34.6648 43.1463 22.5 43.1463C10.3352 43.1463 0.5 33.5853 0.5 21.8231C0.5 10.061 10.3352 0.5 22.5 0.5C34.6648 0.5 44.5 10.061 44.5 21.8231Z"
                stroke="#FF4D64"
              />
              <path
                d="M33.2596 21.5912C33.5903 21.7842 33.5903 22.2621 33.2596 22.455L16.7519 32.0842C16.4186 32.2786 16 32.0382 16 31.6523L16 12.394C16 12.0081 16.4186 11.7676 16.7519 11.9621L33.2596 21.5912Z"
                fill="#FF4D64"
              />
            </svg>
            <span>Play video</span>
          </button>
        </div>
      </div>
    </div>
    <div class="container mx-auto mt-20">
      <h3 class="text-4xl">The Best Destination</h3>
      <p class="text-xl text-[#4D4949] mt-3">
        The best places in the budget. Premier Travel Going The Distance For You.
      </p>
      <SwiperCard class="mt-8" />
    </div>
    <!-- Gallery -->
    <GalleryList class="mt-20" />
  </div>
</template>
