<script setup>
import Header from '@/components/layouts/Header.vue'
import Footer from '@/components/layouts/Footer.vue'
</script>
<template>
  <div>
    <Header />
    <RouterView />
    <Footer />
  </div>
</template>
