<script setup>
import { ref, onMounted, onBeforeUnmount } from 'vue'

const isHidden = ref(false)
const handleClick = (event) => {
  event.stopPropagation()
  isHidden.value = !isHidden.value
}
const windowClick = () => {
  if (isHidden.value) {
    isHidden.value = false
  }
}

onMounted(() => {
  window.addEventListener('click', windowClick)
})

onBeforeUnmount(() => {
  window.removeEventListener('click', windowClick)
})
</script>

<template>
  <div>
    <div class="relative inline-block text-left">
      <div>
        <button
          @click="handleClick"
          type="button"
          class="inline-flex w-full justify-center gap-x-1.5 bg-white text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 rounded-full p-0.5 border-2 border-red-500"
          id="menu-button"
          aria-expanded="true"
          aria-haspopup="true"
        >
          <svg
            data-v-ad409444=""
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="w-9 h-9"
          >
            <g clip-path="url(#a)">
              <path
                fill="#F0F0F0"
                d="M12 24c6.627 0 12-5.373 12-12S18.627 0 12 0 0 5.373 0 12s5.373 12 12 12"
              ></path>
              <path
                fill="#0052B4"
                d="M23.254 16.174c.482-1.3.746-2.706.746-4.174s-.264-2.874-.746-4.174H.746A12 12 0 0 0 0 12c0 1.468.264 2.874.746 4.174L12 17.217z"
              ></path>
              <path
                fill="#D80027"
                d="M12 24c5.159 0 9.557-3.256 11.253-7.826H.746C2.44 20.744 6.84 24 11.999 24Z"
              ></path>
            </g>
            <defs>
              <clipPath id="a"><path fill="#fff" d="M0 0h24v24H0z"></path></clipPath>
            </defs>
          </svg>
        </button>
      </div>

      <div
        :class="isHidden ? 'block' : 'hidden'"
        class="absolute right-0 z-10 mt-2 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none px-1"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="menu-button"
        tabindex="-1"
      >
        <div class="py-1 flex flex-col gap-1" role="none">
          <button
            class="text-gray-700 px-4 py-1 text-sm w-full rounded-md flex items-center gap-4 transition duration-300 hover:bg-[#eaeff3]"
          >
            <svg
              data-v-ad409444=""
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="w-6 h-6"
            >
              <g clip-path="url(#a)">
                <path
                  fill="#F0F0F0"
                  d="M12 24c6.627 0 12-5.373 12-12S18.627 0 12 0 0 5.373 0 12s5.373 12 12 12"
                ></path>
                <path
                  fill="#0052B4"
                  d="M23.254 16.174c.482-1.3.746-2.706.746-4.174s-.264-2.874-.746-4.174H.746A12 12 0 0 0 0 12c0 1.468.264 2.874.746 4.174L12 17.217z"
                ></path>
                <path
                  fill="#D80027"
                  d="M12 24c5.159 0 9.557-3.256 11.253-7.826H.746C2.44 20.744 6.84 24 11.999 24Z"
                ></path>
              </g>
              <defs>
                <clipPath id="a"><path fill="#fff" d="M0 0h24v24H0z"></path></clipPath>
              </defs>
            </svg>
            <span class="text-lg">Русский</span>
          </button>
          <button
            class="text-gray-700 px-4 py-1 text-sm w-full rounded-md flex items-center gap-4 transition duration-300 hover:bg-[#eaeff3]"
          >
            <svg
              data-v-ad409444=""
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="h-6 w-6"
            >
              <g clip-path="url(#a)">
                <path
                  fill="#F0F0F0"
                  d="M.567 8.348A12 12 0 0 0 0 12c0 1.274.2 2.5.567 3.652L12 16.174l11.433-.522A12 12 0 0 0 24 12c0-1.274-.2-2.5-.567-3.652L12 7.826z"
                ></path>
                <path
                  fill="#D80027"
                  d="m23.433 8.348-11.434-.522-11.433.522Q.402 8.86.284 9.391h23.43a12 12 0 0 0-.281-1.043M.284 14.609q.118.531.28 1.043h.002l11.432.522 11.434-.522q.163-.513.28-1.043H.285Z"
                ></path>
                <path
                  fill="#6DA544"
                  d="M12 24c5.353 0 9.887-3.507 11.433-8.348H.566C2.11 20.493 6.646 24 11.999 24Z"
                ></path>
                <path
                  fill="#338AF3"
                  d="M12 0C6.646 0 2.112 3.507.567 8.348h22.866C21.888 3.506 17.353 0 12 0"
                ></path>
                <path
                  fill="#F0F0F0"
                  d="M5.484 4.957a2.35 2.35 0 0 1 1.845-2.294 2.348 2.348 0 1 0 0 4.586 2.35 2.35 0 0 1-1.845-2.292m3.232 1.066.159.49h.514l-.416.302.16.49-.417-.303-.416.302.159-.49-.416-.301h.514zm1.642 0 .16.49h.513l-.416.302.16.49-.417-.303-.416.302.16-.49-.417-.301h.514zm1.642 0 .158.49h.514l-.416.302.16.49-.417-.303-.416.302.16-.49-.417-.301h.514zm1.642 0 .16.49h.514l-.417.302.16.49-.417-.303-.416.302.16-.49-.417-.301h.514zm1.641 0 .159.49h.514l-.416.302.159.49-.416-.303-.416.302.158-.49-.416-.301h.515zm-4.925-1.707.16.49h.513l-.416.302.16.489-.417-.303-.416.303.16-.49-.417-.302h.514zm1.642 0 .158.49h.514l-.416.302.16.489-.417-.303-.416.303.16-.49-.417-.302h.514zm1.642 0 .16.49h.514l-.417.302.16.489-.417-.303-.416.303.16-.49-.417-.302h.514zm1.641 0 .159.49h.514l-.416.302.159.489-.416-.303-.416.303.158-.49-.416-.302h.515zM12 2.609l.158.489h.514l-.416.302.16.49-.417-.303-.416.302.16-.489-.417-.302h.514l.16-.49Zm1.642 0 .16.489h.514l-.417.302.16.49-.417-.303-.416.302.16-.489-.417-.302h.514l.16-.49Zm1.641 0 .159.489h.514l-.416.302.159.49-.416-.303-.416.302.158-.489-.416-.302h.515l.159-.49Z"
                ></path>
              </g>
              <defs>
                <clipPath id="a"><path fill="#fff" d="M0 0h24v24H0z"></path></clipPath>
              </defs>
            </svg>
            <span class="text-lg">O'zbek</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
