<script setup>
import { Swiper, SwiperSlide } from 'swiper/vue'
import { Pagination } from 'swiper/modules'
import { computed, reactive, ref } from 'vue'
const modules = [Pagination]

const data = ref([
  {
    img: '../../assets/images/slider1.png',
    price: 550,
    title: 'Enjoy the beauty of Bali',
    region: 'Indonesia',
    star: 5
  },
  {
    img: '../../assets/images/slider2.png',
    price: 550,
    title: 'Enjoy the beauty of Bali',
    region: 'Indonesia',
    star: 5
  },
  {
    img: '../../assets/images/slider3.png',
    price: 550,
    title: 'Enjoy the beauty of Bali',
    region: 'Indonesia',
    star: 5
  },
  {
    img: '../../assets/images/slider1.png',
    price: 550,
    title: 'Enjoy the beauty of Bali',
    region: 'Indonesia',
    star: 5
  },
  {
    img: '../../assets/images/slider2.png',
    price: 550,
    title: 'Enjoy the beauty of Bali',
    region: 'Indonesia',
    star: 5
  },
  {
    img: '../../assets/images/slider3.png',
    price: 550,
    title: 'Enjoy the beauty of Bali',
    region: 'Indonesia',
    star: 5
  }
])
function urlImage(url) {
  return new URL(url, import.meta.url).href
}
</script>
<template>
  <div>
    <swiper
      :slidesPerView="4"
      :spaceBetween="30"
      :pagination="{
        clickable: true
      }"
      :modules="modules"
      class="mySwiper"
    >
      <swiper-slide
        class="border-2 rounded-xl transition-all duration-500 ease-in-out group hover:border-[#FF4D64]"
        v-for="item in data"
      >
        <div class="overflow-hidden relative rounded-t-xl">
          <img
            :src="urlImage(item.img)"
            alt="not image"
            class="w-full object-cover transition duration-500 ease-in-out scale-110 group-hover:scale-125"
          />
          <div
            class="absolute top-0 right-0 left-0 h-full w-full bg-[#00000012] flex justify-end items-end p-4"
          >
            <span class="text-white border px-2 py-1 rounded">{{ '$' + item.price }}</span>
          </div>
        </div>
        <div class="flex flex-col gap-4 px-4 py-8">
          <h3 class="text-[#1A080A] text-xl">{{ item.title }}</h3>
          <div class="flex items-center gap-4 text-[#4D4949]">
            <svg
              width="10"
              height="14"
              viewBox="0 0 10 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9 5.90909C9 9.44975 5.56034 12.5214 5.06032 12.9492C5.02416 12.9801 4.97584 12.9801 4.93968 12.9492C4.43966 12.5214 1 9.44975 1 5.90909C1 4.60712 1.42143 3.35847 2.17157 2.43784C2.92172 1.51721 3.93913 1 5 1C6.06087 1 7.07828 1.51721 7.82843 2.43784C8.57857 3.35847 9 4.60712 9 5.90909Z"
                stroke="#4C4949"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M4.99984 7.54543C5.73622 7.54543 6.33317 6.81281 6.33317 5.90907C6.33317 5.00533 5.73622 4.27271 4.99984 4.27271C4.26346 4.27271 3.6665 5.00533 3.6665 5.90907C3.6665 6.81281 4.26346 7.54543 4.99984 7.54543Z"
                stroke="#4C4949"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            {{ item.region }}
          </div>
          <div class="flex justify-between">
            <div class="flex gap-0.5 items-center">
              <svg
                v-for="n in item.star"
                width="10"
                height="9"
                viewBox="0 0 10 9"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5 0L6.545 2.96215L10 3.44006L7.5 5.74448L8.09 9L5 7.46215L1.91 9L2.5 5.74448L0 3.44006L3.455 2.96215L5 0Z"
                  fill="#FF4D64"
                />
              </svg>
              <span class="ml-4">{{ item.star }}.0</span>
            </div>
            <button class="px-4 py-2 bg-[#FF4D64] rounded text-white">View Details</button>
          </div>
        </div>
      </swiper-slide>
    </swiper>
  </div>
</template>
<style>
.zoom {
  transform: scale(1.2);
}
</style>
